<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msa_assignment2">

    <!-- Declare the custom permission -->
    <permission
        android:name="com.example.msa_assignment2.MSE412"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MSA_Assignment2">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MSA_Assignment2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:permission="com.example.msa_assignment2.MSE412"
            android:theme="@style/Theme.MSA_Assignment2">
            <intent-filter>
                <action android:name="com.example.msa_assignment2.ACTION_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
